body {
	background-image: url("https://wallpaperscraft.com/download/computer_keyboard_mouse_laptop_mac_apple_66734/3840x2160#");
	background-size: cover;
	color: #000;
	text-align: center;
}

#slogan {
	text-decoration: italic;
}