title {
	text-transform: uppercase;
}
body {
	font-family: Arial, sans-serif;
	background: url("images/laptop-blue.jpg");
	background-size: cover;
	color: #000;
}
h3 {
	text-align: center;
}
h1 {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 84px;
}
#minislogan {
	text-align: center;
	font-style: italic;
}
hr {
	color: #000;
}
a {
	text-decoration: none;
	color: #000;
}